[submodule "diplomainprogramming/DBMS_IITM"]
	path = diplomainprogramming/DBMS_IITM
	url = https://github.com/NebulaTris/DBMS_IITM.git
[submodule "diplomainprogramming/pdsa-iitm"]
	path = diplomainprogramming/pdsa-iitm
	url = https://github.com/NebulaTris/pdsa-iitm
[submodule "diplomainprogramming/system-commands"]
	path = diplomainprogramming/system-commands
	url = https://github.com/NebulaTris/system-commands.git
[submodule "diplomainprogramming/mad_II_iitm"]
	path = diplomainprogramming/mad_II_iitm
	url = https://github.com/NebulaTris/mad_II_iitm.git
